<div id="<%= dom_id tribe %>">
  <p>
    <strong>Tribe:</strong>
    <%= tribe.tribe %>
  </p>

  <p>
    <strong>Tribesmen:</strong>
    <%= tribe.tribesmen %>
  </p>

  <p>
    <strong>Chief:</strong>
    <%= tribe.chief %>
  </p>

</div>
